REACT_APP_FIREBASE_SETTING={ "apiKey": "your secret key from firebase in JSON format", "authDomain": "crwn-db-931fe.firebaseapp.com",  "databaseURL": "https://crwn-db-931fe.firebaseio.com", "projectId": "crwn-db-931fe",  "storageBucket": "crwn-db-931fe.appspot.com", "messagingSenderId": "150073025369", "appId": "1:150073025369:web:4f74f301914c14de83a248", "measurementId": "G-89VL2X9D69" }
REACT_APP_STRIPE_CHECKOUT_KEY=pk_test_yoursecretkey0000000
REACT_APP_BASENAME_DOMAIN=/redux-shop-clothes/
